
#map {
	height: 768px;
	margin: 0;
}

.indexButton{

  margin-top: 10%;
  background-color: #f3efec;
  color: black;
}

.navButton{
	background-color: #AC5800;
	margin-top: 5px;
	margin-left: 3px;
}
.lightNavButton{
	background-color: #f3efec;
	color: black;
}

.breadcrumbs{
	background-color: #221F1C;
	border: none;
	color: white;
}

.breadcrumbs li.current a {
	color: white;
}

#bottomButtons{
	background-color: #f3efec;
}

#screen{
	background-color: #312A28;
}

#notes{
	height: 100px;
}
