.centerHomeButton {
	float: left;
	margin-left: 686px;
	margin-top: 10px;
 }
 
 .leftHomeButton {
 	float: left;
 	margin-left: 14px;
 }

row {
	margin: 0px;
}

body {
    color: white;
    background-color: #BF7C30;
    background: #BF7C30;
}

body, html {
	height: 100%;
}

#map {
	height: 100%;
}

dl {
	color: white;
    //margin-left: 2.00em;
}

#search {
	margin-left: 324px;
}