.centerHomeButton {
	float: left;
	margin-left: 686px;
	margin-top: 10px;
 }
 
 .leftHomeButton {
 	float: left;
 }

row {
	margin: 0px;
}

body {
    color: white;
    background-color: #624c32;
    background: #624c32;
}

body, html {
	height: 100%;
}

#map {
	height: 100%;
}

dl {
	color: white;
    //margin-left: 2.00em;
}

.rightjustified {
	float: right;
	margin-left: 10px;
}

#AddNotes {
    height: 95px;
}

#Notes {
	height: 80px;
}

.text {
	margin-right: 25px;
	border: solid;
	padding: 0px !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	background-color: rgb(111, 60, 21);
}

#lastBox {
	margin-right: 0px;
}

#AddArtifactType {
	margin-top: 15px;
}

#teamForm {
	padding-top: 5px;
}

.teamswrapper {
	height: 421px !important;
}