#map {
    background: white;
    margin: 0;
    border: 0;
    padding: 0;
}

.leftnav {
  padding-top: 20px;
}

#artifactslist {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 408px;
  overflow: auto;
  color: black;
}
