/* Mixin */
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}
 
/* Implementation */
button, #map, input, textarea {
    .border-radius-custom(2px, 2px, 2px, 2px);
} 

textarea {
	resize: none;
	height: 70px;
}

body, html {
	width: 100%;
	height: 100%;
}

#actionlogcol{
	overflow: auto;
	height: 401px;
}

#screen, #actionlogrow{
	height: 100%;
}

.teamswrapper {
    width:100%;
    height: 401px;
    overflow-x: auto;
    overflow-y: hidden;
}

.teamswrapper .internal {
    width: 1600px;
    height: 100%;
}

.teamswrapper .horizontalbox {
    width: 400px;
    height: 100%;
    float: left;
}

.teamswrapper .text {
    padding: 10px;
    padding-left: 0px;
    padding-right: 40px;
}

#newmap {
    background: white;
}